absl-py==2.3.1
africastalking==1.2.9
aiosqlite==0.20.0
alembic==1.14.1
arabic-reshaper==3.0.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
asn1crypto==1.5.1
astunparse==1.6.3
bcrypt==4.2.1
beautifulsoup4==4.14.3
blinker==1.9.0
Brotli==1.1.0
cachelib==0.13.0
cairocffi==1.7.1
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cmake==4.0.3
colorama==0.4.6
contourpy==1.3.0
cryptography==43.0.3
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.11
deepface==0.0.96
Django==4.2.18
dnspython==2.7.0
ecdsa==0.19.1
email-validator==2.0.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
filelock==3.19.1
fire==0.7.1
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==25.9.23
fonttools==4.55.8
fpdf==1.7.2
fsspec==2025.10.0
gast==0.7.0
gdown==5.2.0
geographiclib==2.0
geopy==2.4.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.76.0
gunicorn==21.2.0
h5py==3.14.0
haversine==2.9.0
html5lib==1.1
humanize==4.13.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.1.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.3.1
keras==3.10.0
kiwisolver==1.4.7
libclang==18.1.1
librt==0.7.8
lightecc==0.0.4
lightphe==0.0.20
lxml==5.3.0
Mako==1.3.8
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgspec==0.19.0
mtcnn==0.1.1
my-module==1.6.2
mypy==1.19.1
mypy_extensions==1.1.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
namex==0.1.0
networkx==3.2.1
nltk==3.8.1
numpy==1.24.3
opencv-python==4.11.0.86
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.18.0
oscrypto==1.3.0
packaging==24.2
pandas==2.1.0
passlib==1.7.4
pathspec==1.0.3
pdf2image==1.16.3
pdfkit==1.0.0
peewee==3.17.8
pickle-mixin==1.0.2
Pillow==10.0.0
plotly==5.17.0
pluggy==1.6.0
polars==1.36.1
polars-runtime-32==1.36.1
pony==0.7.19
protobuf==6.33.2
psutil==7.1.3
psycopg2==2.9.10
psycopg2-binary==2.9.9
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.2
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyMuPDF==1.26.5
PyMySQL==1.1.1
pyotp==2.9.0
pyparsing==3.0.9
pypdf==5.1.0
pyphen==0.17.2
pypika-tortoise==0.3.2
pypng==0.20220715.0
PySocks==1.7.1
pytest==8.4.2
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.0
python-http-client==3.3.7
pytz==2024.2
PyYAML==6.0.2
qrcode==7.4.2
regex==2025.11.3
reportlab==4.0.4
requests==2.32.3
retina-face==0.0.17
rich==14.2.0
schema==0.7.7
scikit-learn==1.3.0
scipy==1.13.1
seaborn==0.12.2
sendgrid==6.12.4
six==1.17.0
soupsieve==2.8.1
SQLAlchemy==2.0.19
sqlparse==0.5.3
svglib==1.5.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.4.0
torch==2.8.0
torchvision==0.23.0
tortoise-orm==0.23.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ultralytics==8.3.240
ultralytics-thop==2.0.18
uritools==4.0.3
urllib3==2.3.0
waitress==3.0.2
weasyprint==64.0
webencodings==0.5.1
Werkzeug==2.3.7
wrapt==2.0.1
WTForms==3.2.1
xhtml2pdf==0.2.16
zipp==3.21.0
zopfli==0.2.3.post1
